USE [Amnesty2019]
GO
/****** Object:  User [Amnesty2019]    Script Date: 06.01.2020 18:04:46 ******/
CREATE USER [Amnesty2019] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Amnesty2019]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Amnesty2019]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Amnesty2019]
GO
/****** Object:  Table [dbo].[obecnie_stolowka]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obecnie_stolowka](
	[ID_stolowka] [int] IDENTITY(1,1) NOT NULL,
	[ID_ucznia] [int] NULL,
 CONSTRAINT [obecnie_stolowka$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_stolowka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uczniowie]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uczniowie](
	[ID_ucznia] [int] IDENTITY(1,1) NOT NULL,
	[imie] [nvarchar](255) NULL,
	[nazwisko] [nvarchar](255) NULL,
	[klasa] [nvarchar](255) NULL,
	[kod] [int] NULL,
 CONSTRAINT [uczniowie$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_ucznia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[stolowka]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[stolowka]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 8.4.0.*/
   SELECT [uczniowie].[ID_ucznia], [imie] + ' ' + [nazwisko] AS [Imię i nazwisko], [uczniowie].[klasa] AS Klasa
   FROM 
      [uczniowie] 
         INNER JOIN [obecnie_stolowka] 
         ON [uczniowie].[ID_ucznia] = [obecnie_stolowka].[ID_ucznia]
GO
/****** Object:  Table [dbo].[obecnie_swietlica]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obecnie_swietlica](
	[ID_swietlica] [int] IDENTITY(1,1) NOT NULL,
	[ID_ucznia] [int] NULL,
 CONSTRAINT [obecnie_swietlica$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_swietlica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[swietlica]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[swietlica]
AS 
   /*Generated by SQL Server Migration Assistant for Access version 8.4.0.*/
   SELECT [uczniowie].[ID_ucznia], [imie] + ' ' + [nazwisko] AS [Imię i nazwisko], [uczniowie].[klasa] AS Klasa
   FROM 
      [uczniowie] 
         INNER JOIN [obecnie_swietlica] 
         ON [uczniowie].[ID_ucznia] = [obecnie_swietlica].[ID_ucznia]
GO
/****** Object:  Table [dbo].[frekwencja]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frekwencja](
	[ID_frekwencja] [int] IDENTITY(1,1) NOT NULL,
	[ID_ucznia] [int] NULL,
	[godzina_we] [datetime2](0) NULL,
	[godzina_wy] [datetime2](0) NULL,
 CONSTRAINT [frekwencja$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_frekwencja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listy]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listy](
	[ID_listy] [int] IDENTITY(1,1) NOT NULL,
	[ID_ucznia] [int] NULL,
	[ID_ofiary] [int] NULL,
	[godzina] [datetime2](0) NULL,
 CONSTRAINT [listy$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_listy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ofiary]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ofiary](
	[ID_ofiary] [int] IDENTITY(1,1) NOT NULL,
	[nazwa] [nvarchar](255) NULL,
 CONSTRAINT [ofiary$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID_ofiary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stat_klasa]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stat_klasa](
	[klasa] [nchar](3) NOT NULL,
	[ilosc] [int] NULL,
 CONSTRAINT [PK_stat_klasa] PRIMARY KEY CLUSTERED 
(
	[klasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stat_ofiara]    Script Date: 06.01.2020 18:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stat_ofiara](
	[ofiara] [int] NOT NULL,
	[ilosc] [int] NOT NULL,
 CONSTRAINT [PK_stat_ofiara] PRIMARY KEY CLUSTERED 
(
	[ofiara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[frekwencja] ON 

INSERT [dbo].[frekwencja] ([ID_frekwencja], [ID_ucznia], [godzina_we], [godzina_wy]) VALUES (1, 105, CAST(N'1900-01-01T08:58:08.0000000' AS DateTime2), CAST(N'1900-01-01T11:23:30.0000000' AS DateTime2))
INSERT [dbo].[frekwencja] ([ID_frekwencja], [ID_ucznia], [godzina_we], [godzina_wy]) VALUES (2, 113, CAST(N'1900-01-01T09:00:20.0000000' AS DateTime2), CAST(N'1900-01-01T14:06:22.0000000' AS DateTime2))
INSERT [dbo].[frekwencja] ([ID_frekwencja], [ID_ucznia], [godzina_we], [godzina_wy]) VALUES (3, 114, CAST(N'1900-01-01T09:05:18.0000000' AS DateTime2), CAST(N'1900-01-01T10:34:58.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[frekwencja] OFF
SET IDENTITY_INSERT [dbo].[listy] ON 

INSERT [dbo].[listy] ([ID_listy], [ID_ucznia], [ID_ofiary], [godzina]) VALUES (1, 46, 2, CAST(N'1900-01-01T09:18:35.0000000' AS DateTime2))
INSERT [dbo].[listy] ([ID_listy], [ID_ucznia], [ID_ofiary], [godzina]) VALUES (2, 42, 4, CAST(N'1900-01-01T09:19:53.0000000' AS DateTime2))
INSERT [dbo].[listy] ([ID_listy], [ID_ucznia], [ID_ofiary], [godzina]) VALUES (3, 57, 1, CAST(N'1900-01-01T09:21:26.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[listy] OFF
SET IDENTITY_INSERT [dbo].[obecnie_stolowka] ON 

INSERT [dbo].[obecnie_stolowka] ([ID_stolowka], [ID_ucznia]) VALUES (17, 46)
INSERT [dbo].[obecnie_stolowka] ([ID_stolowka], [ID_ucznia]) VALUES (38, 72)
INSERT [dbo].[obecnie_stolowka] ([ID_stolowka], [ID_ucznia]) VALUES (75, 111)
SET IDENTITY_INSERT [dbo].[obecnie_stolowka] OFF
SET IDENTITY_INSERT [dbo].[obecnie_swietlica] ON 

INSERT [dbo].[obecnie_swietlica] ([ID_swietlica], [ID_ucznia]) VALUES (38, 35)
INSERT [dbo].[obecnie_swietlica] ([ID_swietlica], [ID_ucznia]) VALUES (37, 39)
INSERT [dbo].[obecnie_swietlica] ([ID_swietlica], [ID_ucznia]) VALUES (35, 40)
SET IDENTITY_INSERT [dbo].[obecnie_swietlica] OFF
SET IDENTITY_INSERT [dbo].[ofiary] ON 

INSERT [dbo].[ofiary] ([ID_ofiary], [nazwa]) VALUES (1, N'Ibrahim Ezz El-Din')
INSERT [dbo].[ofiary] ([ID_ofiary], [nazwa]) VALUES (2, N'Młodzież z Grassy Narrows')
INSERT [dbo].[ofiary] ([ID_ofiary], [nazwa]) VALUES (3, N'José Adrián')
SET IDENTITY_INSERT [dbo].[ofiary] OFF
INSERT [dbo].[stat_klasa] ([klasa], [ilosc]) VALUES (N'1A ', 106)
INSERT [dbo].[stat_klasa] ([klasa], [ilosc]) VALUES (N'1B ', 14)
INSERT [dbo].[stat_klasa] ([klasa], [ilosc]) VALUES (N'1C ', 181)
INSERT [dbo].[stat_ofiara] ([ofiara], [ilosc]) VALUES (1, 52)
INSERT [dbo].[stat_ofiara] ([ofiara], [ilosc]) VALUES (2, 209)
INSERT [dbo].[stat_ofiara] ([ofiara], [ilosc]) VALUES (3, 209)
SET IDENTITY_INSERT [dbo].[uczniowie] ON 

INSERT [dbo].[uczniowie] ([ID_ucznia], [imie], [nazwisko], [klasa], [kod]) VALUES (1, N'Imię', N'Jóźwiak', N'1E', 111)
INSERT [dbo].[uczniowie] ([ID_ucznia], [imie], [nazwisko], [klasa], [kod]) VALUES (2, N'Kacper', N'Cichosz', N'1E', 90007802)
INSERT [dbo].[uczniowie] ([ID_ucznia], [imie], [nazwisko], [klasa], [kod]) VALUES (3, N'Michał', N'Kiełkowski', N'3D', 90007427)
GO
SET IDENTITY_INSERT [dbo].[uczniowie] OFF
/****** Object:  Index [UQ_KOD]    Script Date: 06.01.2020 18:04:46 ******/
ALTER TABLE [dbo].[uczniowie] ADD  CONSTRAINT [UQ_KOD] UNIQUE NONCLUSTERED 
(
	[kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[frekwencja] ADD  DEFAULT ((0)) FOR [ID_ucznia]
GO
ALTER TABLE [dbo].[listy] ADD  DEFAULT ((0)) FOR [ID_ucznia]
GO
ALTER TABLE [dbo].[listy] ADD  DEFAULT ((0)) FOR [ID_ofiary]
GO
ALTER TABLE [dbo].[obecnie_stolowka] ADD  DEFAULT ((0)) FOR [ID_ucznia]
GO
ALTER TABLE [dbo].[obecnie_swietlica] ADD  DEFAULT ((0)) FOR [ID_ucznia]
GO
ALTER TABLE [dbo].[uczniowie] ADD  DEFAULT ((0)) FOR [kod]
GO
ALTER TABLE [dbo].[frekwencja]  WITH NOCHECK ADD  CONSTRAINT [frekwencja$uczniowiefrekwencja] FOREIGN KEY([ID_ucznia])
REFERENCES [dbo].[uczniowie] ([ID_ucznia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[frekwencja] CHECK CONSTRAINT [frekwencja$uczniowiefrekwencja]
GO
ALTER TABLE [dbo].[listy]  WITH NOCHECK ADD  CONSTRAINT [listy$ofiarylisty] FOREIGN KEY([ID_ofiary])
REFERENCES [dbo].[ofiary] ([ID_ofiary])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[listy] CHECK CONSTRAINT [listy$ofiarylisty]
GO
ALTER TABLE [dbo].[listy]  WITH NOCHECK ADD  CONSTRAINT [listy$uczniowielisty] FOREIGN KEY([ID_ucznia])
REFERENCES [dbo].[uczniowie] ([ID_ucznia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[listy] CHECK CONSTRAINT [listy$uczniowielisty]
GO
ALTER TABLE [dbo].[obecnie_stolowka]  WITH CHECK ADD  CONSTRAINT [obecnie_stolowka$uczniowieobecnie_stolowka] FOREIGN KEY([ID_ucznia])
REFERENCES [dbo].[uczniowie] ([ID_ucznia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[obecnie_stolowka] CHECK CONSTRAINT [obecnie_stolowka$uczniowieobecnie_stolowka]
GO
ALTER TABLE [dbo].[obecnie_swietlica]  WITH NOCHECK ADD  CONSTRAINT [obecnie_swietlica$uczniowieobecnie_switlica] FOREIGN KEY([ID_ucznia])
REFERENCES [dbo].[uczniowie] ([ID_ucznia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[obecnie_swietlica] CHECK CONSTRAINT [obecnie_swietlica$uczniowieobecnie_switlica]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[frekwencja].[ID_frekwencja]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'frekwencja', @level2type=N'COLUMN',@level2name=N'ID_frekwencja'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[frekwencja].[ID_ucznia]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'frekwencja', @level2type=N'COLUMN',@level2name=N'ID_ucznia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[frekwencja].[godzina_we]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'frekwencja', @level2type=N'COLUMN',@level2name=N'godzina_we'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[frekwencja].[godzina_wy]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'frekwencja', @level2type=N'COLUMN',@level2name=N'godzina_wy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[frekwencja].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'frekwencja', @level2type=N'CONSTRAINT',@level2name=N'frekwencja$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[frekwencja]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'frekwencja'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[frekwencja].[uczniowiefrekwencja]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'frekwencja', @level2type=N'CONSTRAINT',@level2name=N'frekwencja$uczniowiefrekwencja'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy].[ID_listy]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy', @level2type=N'COLUMN',@level2name=N'ID_listy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy].[ID_ucznia]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy', @level2type=N'COLUMN',@level2name=N'ID_ucznia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy].[ID_ofiary]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy', @level2type=N'COLUMN',@level2name=N'ID_ofiary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy].[godzina]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy', @level2type=N'COLUMN',@level2name=N'godzina'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy', @level2type=N'CONSTRAINT',@level2name=N'listy$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy].[ofiarylisty]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy', @level2type=N'CONSTRAINT',@level2name=N'listy$ofiarylisty'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[listy].[uczniowielisty]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'listy', @level2type=N'CONSTRAINT',@level2name=N'listy$uczniowielisty'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_stolowka].[ID_stolowka]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_stolowka', @level2type=N'COLUMN',@level2name=N'ID_stolowka'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_stolowka].[ID_ucznia]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_stolowka', @level2type=N'COLUMN',@level2name=N'ID_ucznia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_stolowka].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_stolowka', @level2type=N'CONSTRAINT',@level2name=N'obecnie_stolowka$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_stolowka]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_stolowka'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_stolowka].[uczniowieobecnie_stolowka]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_stolowka', @level2type=N'CONSTRAINT',@level2name=N'obecnie_stolowka$uczniowieobecnie_stolowka'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_swietlica].[ID_swietlica]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_swietlica', @level2type=N'COLUMN',@level2name=N'ID_swietlica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_swietlica].[ID_ucznia]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_swietlica', @level2type=N'COLUMN',@level2name=N'ID_ucznia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_swietlica].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_swietlica', @level2type=N'CONSTRAINT',@level2name=N'obecnie_swietlica$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_swietlica]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_swietlica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[obecnie_swietlica].[uczniowieobecnie_switlica]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'obecnie_swietlica', @level2type=N'CONSTRAINT',@level2name=N'obecnie_swietlica$uczniowieobecnie_switlica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[ofiary].[ID_ofiary]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ofiary', @level2type=N'COLUMN',@level2name=N'ID_ofiary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[ofiary].[nazwa]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ofiary', @level2type=N'COLUMN',@level2name=N'nazwa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[ofiary].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ofiary', @level2type=N'CONSTRAINT',@level2name=N'ofiary$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[ofiary]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ofiary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[uczniowie].[ID_ucznia]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'uczniowie', @level2type=N'COLUMN',@level2name=N'ID_ucznia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[uczniowie].[imie]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'uczniowie', @level2type=N'COLUMN',@level2name=N'imie'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[uczniowie].[nazwisko]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'uczniowie', @level2type=N'COLUMN',@level2name=N'nazwisko'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[uczniowie].[klasa]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'uczniowie', @level2type=N'COLUMN',@level2name=N'klasa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[uczniowie].[kod]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'uczniowie', @level2type=N'COLUMN',@level2name=N'kod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[uczniowie].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'uczniowie', @level2type=N'CONSTRAINT',@level2name=N'uczniowie$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[uczniowie]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'uczniowie'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[stolowka]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'stolowka'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'Amnesty2019_dev.[swietlica]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'swietlica'
GO
